/* Para telefones (Mobile first, vai assegurar que a página carregue mais rápido em dispositivos mobile): */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* Para tablets (classe diferente para poder determinar o comportamento de forma dinâmica): */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* Para tablets (classe diferente para poder determinar o comportamento de forma dinâmica): */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}
@media only screen and (min-width: 1280px) {
    /* Para desktops: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: Raleway, sans-serif;
  margin: 0;
  letter-spacing: 2px;
  background-color: #f1f1f1;
}
.center {
  text-align: center;
}
.hide {
  display: none !important;
}
.bg-lgrey {
  background-color: rgb(220, 220, 220)
}
.bg-white {
  background-color: white;
}
[class*="container-"] {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.container-content {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.container-fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  text-align: right;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  padding: 10px 20px 0px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  transition: text-decoration 1s;
}

.navbar li a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.35s ease-in-out 0s;
}

.navbar li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

div.container-welcome {
  left: 0;
  margin-top: 40px;
}

div.container-welcome-slogan {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.welcome {
  max-width: 100%;
  height: auto;
  filter: brightness(20%);
}

.welcome-slogan {
  width: 100%;
  color: #FFF;
}

.button {
  border: 2px solid;
  padding: 10px 20px;
  transition: all 0.35s ease-in-out 0s;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.button-ghost {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.button-ghost:hover {
  background-color: #fff;
  color: #000;
}

.button-ghost-black {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.button-ghost-black:hover {
  background-color: #000;
  color: #fff;
}

.card-container {
  display: block;
  float: left;
  height: 332px;
}

.blog-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 16px;
  height: 300px;
}

.blog-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.blog-card:hover .blog-card-image {
  height: 50%;
}

.blog-card:hover .blog-card-preview {
  height: 50%;
}

.blog-card:hover div.hide {
  display: table !important;
}

.blog-card-image {
  background-image: url('../img/images.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  transition: all 0.35s ease-in-out 0s;
}

.blog-card-preview {
  overflow: hidden;
  transition: all 0.35s ease-in-out 0s;
  height: 30%;
  background-color: white;
}

.blog-card-preview p {
  text-overflow: ellipsis;
  margin: 16px;
  padding: 0;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.table-card-button {
  width: 100%;
  height: 40%;
  padding: 0;
  margin: 0;
  display: table;
}

.table-cell-card-button {
  display: table-cell;
  vertical-align: middle;
}

.card-button {
  width: 100%;
  border: none;
  color: white;
  padding: 0;
}

.about-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 16px;
}

.profile-image {
  background-image: url('../img/images.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px;
  float: left;
}
